/* banner */
nav {
    /* background-color: #14213D; */
}
.banner {
    width: 100%;
    margin: auto;
    position: relative;
}
.banner-pic {
    margin: auto;
    height: 60vh;
}
.banner-pic img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
}
.banner h2 {
    position: absolute;
    bottom: 18px;
    left: 18px;
    right: 0;
    margin: auto;
    text-align: left;
    color: white;
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 2px;
    max-width: 1200px;
}
/* 導覽列 */
li.book-now-btn {
    border-bottom: 2px solid white;
}


