section{
    height: 500px;
    width: 500px;
    padding: 100px;
}
section p {
    line-height: 1.5;
}
section p:nth-child(1){
    font-size: 60px;
    font-weight: bolder;
}
section p:nth-child(2){
    font-size: 48px;
    font-weight: bold;
}
section p:nth-child(3){
    font-size: 36px;
    font-weight: normal;
}
section p:nth-child(4){
    font-size: 24px;
    font-weight: lighter;
}
