/* 第一屏滿版banner */
.index-banner.banner {
    width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
}
.index-banner.banner .banner-pic {
    width: 100%;
    height: 100vh;
    margin: auto;
}
.index-banner.banner .banner-pic img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
}
.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    writing-mode: vertical-lr;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
}
.index-banner .banner-text p {
    align-self: flex-start;
    line-height: 2.5;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .6);
}
/* 第二屏value-slider*/
section.company-value {
    width: 100%;
    padding: 100px 0 50px 0;
    margin: auto;
    position: relative;
    background-color: rgba(20, 33, 61, .1);
}
section.company-value::after {
    max-width: 1200px;
    content: 'JOIN THE ADVENTURE!';
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 3px;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    margin: auto;
}
.value-container {
    margin: auto;
    overflow: hidden;
}
ul.company-value-slider {
    display: flex;
    position: relative;
}
li.value-pic {
    max-height: 500px;
    margin: 0 auto;
    margin: 30px;
    box-shadow: 1px 1px 9px 1px #00000060;
    border-radius: 5px;
}
li.value-pic img {
    border-radius: 5px;
    vertical-align: top;
    object-fit: cover;
    object-position: 60% 70%;
    width: 100%;
    height: 100%;
}
/* circle button */
#contentButton{
	display: flex;
    justify-content: center;
    align-items: center;
	height: 50px;
    box-sizing: border-box;
    padding: 0 35px;
}
#contentButton li{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #000000;
    margin: 0 5px;
}
#contentButton li.clicked{
	background: #FCA311;
}
/* 熱門行程 */
section.pop-product {
    padding: 70px 0 100px 0;
    margin: auto;
    overflow: hidden;
    position: relative;
    background-color: rgba(20, 33, 61, .05);
}
section.pop-product h2 {
    max-width: 1200px;
    margin: auto;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
}
.product-container {
    position: relative;
    margin: auto;
    padding-bottom: 20px;
}
ul.product-item-row {
    width: fit-content;
    /* overflow: hidden; */
    white-space: nowrap;
    position: relative;
    margin: auto;
}
li.product-card {
    display: inline-block;
    width: 450px;
    min-height: 299px;
    margin-right: 10px;
    transition: all 350ms ease-out 0s;
    overflow: hidden;
    box-shadow: 1px 1px 9px 1px #00000060;
    border-radius: 5px;
}
li.product-card a {
    position: relative;
    text-align: center;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .6);
}
li.product-card:hover, li.product-card:focus {
    transform: scale(1.05) translateY(3px);
    transition: all 350ms ease;
}
li.product-card:hover .card-overlay, li.product-card:focus .card-overlay {
    opacity: 1;
}
.product-card-pic img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 5px;
}
.card-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.12);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3));
    opacity: 0.7;
    transition: all 350ms ease-out 0s;
}
.card-info {
    width: fit-content;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .6);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.card-title {
    font-size: 24px;
    line-height: 2;
    font-weight: bold;
}
.btn-pannel {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -50px;
    text-align: center;
}
.btn-pannel button{
    margin: 0 100px;
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
}
/* 主要服務 */
section.main-service {
    padding: 70px 0 50px 0;
    background-color: #E5E5E5;
    position: relative;
}
section.main-service h2 {
    max-width: 1200px;
    color: white;
    font-size: 28px;
    font-weight: bolder;
    letter-spacing: 5px;
    margin: auto;
    padding-bottom: 30px;
    text-align: center;
}
.main-service-wrap .row {
    margin-bottom: 50px;
    justify-content: center;
}
.equip-pic, .lessons-pic {
    position: relative;
}
.main-service-pic > div {
    box-shadow: 1px 1px 9px 1px #00000060;
    border-radius: 5px;
}
.main-service-pic img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
    border-radius: 5px;
}
.equip-pic::before {
    content: 'RENTALS';
    background-color: #FCA311;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: bolder;
    letter-spacing: 1px;
    position: absolute;
    top: -20px;
    left: 20px;
    z-index: 1;
}
.lessons-pic::before {
    content: 'LESSONS';
    background-color: #FCA311;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: bolder;
    letter-spacing: 1px;
    position: absolute;
    top: -20px;
    left: 20px;
    z-index: 1;
}
.lessons-txt, .equip-txt {
    padding: 15px 30px;
    font-size: 16px;
    line-height: 1.5;
    color: #E5E5E5;
    box-sizing: border-box;
    background-color: #14213D;
}
.main-service-txt * {
    padding-bottom: 25px;
}
/* 馬上預約 */
.book-now-wrap {
    padding: 50px 0;
    background: url(../picture/index/book-now-bgimg.jpg);
    background-position: 70% 30%;
    background-repeat: no-repeat;
    background-size: cover;
}
.book-now-txt {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
    width: 60%;
    line-height: 1.5;
    color: white;
    text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 1);
}
.book-now-txt h2, .main-service-txt h3 {
    font-size: 24px;
    line-height: 1.5;
    font-weight: bolder;
}
.book-now-txt .blinking-cursor {
    margin-left: 5px;
}
.book-now-txt * {
    margin-bottom: 25px;
}
/* 共同 */
.common-btn {
    display: block;
    width: fit-content;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    line-height: 1;
    border: 1px solid white;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.common-btn::after {
    content: '';
    position: absolute;
    bottom: -50%;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: white;
    transform-origin: bottom center;
    transition: transform .4s cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
}
/* 其他服務 */
section.support-service {
    padding-top: 100px;
    background-color: rgba(20, 33, 61, .1);
}
.support-service .col {
    position: relative;
    margin-bottom: 50px;
}
.support-service h3 {
    color: #000000;
    background-color: #FCA311;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: bolder;
    letter-spacing: 1px;
    position: absolute;
    top: -20px;
    left: 20px;
    z-index: 1;
}
.support-pic {
    height: 400px;
    overflow: hidden;
    box-shadow: 1px 1px 9px 1px #00000060;
    border-radius: 5px;
}
.support-pic img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.support-txt {
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    line-height: 1;
    letter-spacing: 1.5px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    cursor: pointer;
}
.support-txt::after {
    content: '';
    width: 0%;
    height: 1.3px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    margin: auto;
    transition: transform .1s linear;
}
/* 手機板設定 */
@media screen and (max-width:767px) {
    /* banner上的book -now按鈕 */
    a.phone-book-now {
        font-size: 17px;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
        text-decoration: none;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
        color: white;
        outline: 1.7px solid white;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20vh;
        margin: auto;
        width: 25%;
        padding: 15px 20px;
        box-sizing: content-box;
        border-radius: 5px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
        overflow: hidden;
    }
    a.phone-book-now::after {
        content: '';
        position: absolute;
        bottom: -50%;
        left: 0;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background-color: white;
        transform-origin: bottom center;
        transition: transform .4s cubic-bezier(0.48, 0, 0.12, 1);
        transform: skewY(9.3deg) scaleY(0);
    }
    a.phone-book-now:focus {
        color: #000;
        text-shadow: none;
        font-weight: bolder;
        z-index: 1;
    }
    a.phone-book-now:focus::after {
        transform-origin: bottom center;
        transform: skewY(9.3deg) scaleY(2);
        transition: .5s 0s;
        z-index: -1;
    }
    /* 共同 */
    .common-btn:focus {
        color: #000;
        text-shadow: none;
        font-weight: bolder;
        z-index: 1;
    }
    .common-btn:focus::after {
        transform-origin: bottom center;
        transform: skewY(9.3deg) scaleY(2);
        transition: .5s 0s;
        z-index: -1;
    }
    /* 熱門產品 */
    .btn-pannel button{
        margin: 0 30px;
    }
    /* 其他服務 */
    .support-service .col:focus img{
        transform: scale(1.05);
        filter: grayscale(70%);
        transition: all .3s;
    }
    .support-pic:focus + .support-txt::after, .support-txt:focus::after {
        width: 100%;
        transform: scale(1.2);
    }
    .support-txt {
        font-size: 18px;
    }
}
/* 平板直式設定 */
@media screen and (min-width:768px) {
    /* 第一屏滿版banner */
    .index-banner .banner-text p{
        font-size: 20px;
        line-height: 4;
    }
    a.phone-book-now {
        display: none;
    }
    /* 第二屏value-slider */
    section.company-value::after {
        font-size: 48px;
    }
    /* circle button */
    #contentButton li{
        margin: 0 10px;
    }
    /* 熱門行程 */
    section.pop-product h2 {
        font-size: 48px;
    }
    /* 主要服務 */
    section.main-service h2 {
        font-size: 48px;
    }
    .equip-pic::before {
        font-size: 22px;
        line-height: 1.5;
        z-index: 1;
    }
    .lessons-pic::before {
        font-size: 22px;
        line-height: 1.5;
        right: 20px;
        left: auto;
    }
    /* 馬上預約 */
    .book-now-wrap {
        padding: 80px 0;
    }
    .book-now-txt, .main-service-txt {
        font-size: 20px;
        line-height: 2;
    }
    .book-now-txt h2, .main-service-txt h3 {
        font-size: 28px;
        font-weight: bolder;
    }
    /* 共同 */
    .common-btn:hover {
        color: #000;
        text-shadow: none;
        font-weight: bolder;
        z-index: 1;
    }
    .common-btn:hover::after {
        transform-origin: bottom center;
        transform: skewY(9.3deg) scaleY(2);
        transition: .5s 0s;
        z-index: -1;
    }
    /* 其他服務 */
    .support-service .col:hover img {
        transform: scale(1.05);
        filter: grayscale(70%);
        transition: all .3s;
    }
    .support-pic:hover + .support-txt::after, .support-txt:hover::after {
        width: 100%;
        transform: scale(1.2);
    }
}
@media screen and (min-width:1024px){
    /* 第二屏value-slider */
    section.company-value::after {
        content: 'JOIN US FOR AN ADVENTURE!';
        font-size: 48px;
        text-align: center;
        font-weight: bolder;
        letter-spacing: 1px;
        top: 45px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .value-container {
        width: 70%;
        height: 100%;
    }
     /* 熱門行程 */
     section.pop-product h2 {
        font-size: 60px;
    }
    /* 主要服務 */
    section.main-service h2 {
        font-size: 60px;
    }
    .main-service-wrap .row {
        justify-content: center;
        align-items: center;
    }
    .equip-pic img, .lessons-pic img {
        border-radius: 2px;
    }
    .equip-txt, .lessons-txt {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        box-sizing: border-box;
        font-size: 20px;
        color: #000;
        background: transparent;
    }
    .main-service-txt .common-btn {
        color: black;
        font-weight: 600;
        border: 1px solid  #000;
    }
    .main-service-txt .common-btn::after {
        background-color: black;
    }
    .main-service-txt .common-btn:hover {
        color: white;
        font-weight: light;
        z-index: 1;
    }
    .main-service-wrap .row:nth-child(2) {
        flex-direction: row-reverse;
    }
    .equip-pic::before {
        padding: 10px 15px;
        font-size: 24px;
        line-height: 1.5;
        z-index: 1;
    }
    .lessons-pic::before {
        padding: 10px 15px;
        font-size: 24px;
        line-height: 1.5;
        right: 20px;
        left: auto;
    }
    /* 馬上預約 */
    .book-now-wrap {
        padding: 100px 0;
    }
    .book-now-txt {
        font-size: 20px;
        line-height: 1.5;
    }
    .book-now-txt h2, .main-service-txt h2{
        font-size: 28px;
        line-height: 2;
        font-weight: bolder;
    }
}  
@media screen and (min-width:1200px){
    .equip-txt, .lessons-txt {
        font-size: 22px;
    }
    .book-now-wrap {
        padding: 120px 0;
    }
    .book-now-txt {
        font-size: 22px;
    }  
    .book-now-txt h2{
        font-size: 32px;
    }
    section.company-value::after {
        font-size: 60px;
    }
}